extends layout

block head
  title Sleep and Dreams
  link(rel='stylesheet', href='stylesheets/vendor/bootstrap/bootstrap.min.css')
  link(rel='stylesheet', href='stylesheets/vendor/simplegrid.css')
  link(rel='stylesheet', href='stylesheets/vendor/c3.css')
  link(rel='stylesheet', href='stylesheets/advice.css')


block content

  div.panel.panel-info.first
    div.panel-heading.center
      h1.panel-title.page_title Welcome to Abby's Advice Column
    div.panel-body.center
      p Scroll down to read sleep expert Abby Belani's answers to anonymous questions about sleep.
  div.panel.panel-default
    div.panel-body
      p
        |Dear Abby,
        br
        br
        | 	My nighttime sleep schedule’s been crazy lately! I usually only get 2-3 hours of sleep per night, and I’m usually really 
        |stressed when I do actually get to bed, making my sleep restless. Today, I finally got to take a 2 hour nap during the day, and I actually felt worse after!! What’s going on? I thought my nap would help!
        br
        br
        |Sincerely,
        br
        |Baffled
  div.panel.panel-default
    div.panel-body
      p        
        |Dear Baffled,
        br
        br
        |What you’re experiencing is an unfortunate phenomenon called sleep inertia. Because you’ve been consistently sleeping for only about a third of your necessary night’s rest, you have accumulated a lot of sleep debt. Sleep debt works the same way your monetary debt does: when you don’t get the necessary amount of sleep, you create a debt, which makes your life difficult for a while until you can pay it back. Your two-hour nap today was probably a great start on paying that debt back, but it did not make a big dent in the amount of debt you have accumulated by now. As such, your body’s natural tendency is to want to sleep more to pay off more of that debt, so when you woke up, your body rebelled. Sleep inertia is usually characterized by impaired alertness, a decline in motor dexterity, and a subjective feeling of grogginess. It will dissipate over time, bringing back to a higher level of functioning over the course of the day, but the only way to get rid of it permanently is to eradicate your sleep debt by getting more than your daily recommended rest for an extended period of time.
      br
      p Happy Sleeping! 
      p Abby

  div.panel.panel-default
    div.panel-body
      p
        |Dear Abby,
        br
        br
        | 	I’ve never in my life been able to fall asleep between 2 or 3am, and I’m always tired when I wake up. A few months ago, I started sleeping in accidentally, until past noon. I’m skipping my few morning classes, and I’m falling a little behind behind, but I’ve never felt more well-rested. I’m actually getting 9 hours of sleep every night, and I’ve had more energy than ever before. I tried shifting my sleep schedule, so I could go to bed earlier and actually wake up on time, but I just can’t fall asleep early enough. Is there something wrong with me?
        br
        br
        |Sincerely,
        br
        |Nocturnal
  div.panel.panel-default
    div.panel-body
      p  
        |Dear Nocturnal,
        br
        br
        |Given your collection of symptoms, you may have Delayed Sleep Phase Syndrome, or DPSD. Although less than 1% of adults have DPSD, it is much more common in teenagers and young adults. Sleep schedules are normally determined by one’s circadian rhythm, a 24-hour long cycle that dictates such bodily functions as sleep, core temperature, cortisol production and other vital homeostatic functions. Usually, it is linked to a light-dark cycle, synchronizing to the daily revolutions of the planet by using light as a guide. In humans, the brain area involved in creating this rhythm is the Suprachimasmatic Nucleus, which uses the presence of the neurotransmitter melatonin to signal nighttime to the rest of the body. In individuals with DPSD, this rhythm is not linked to the light-dark cycle, shifting one’s normal waking time to a darker time of day. If DPSD develops in early adolescence, the good news is that it usually disappears as adolescence finishes. In the meantime, it can be managed in several ways. First, melatonin supplements can be taken near bedtime so that the body believes it to be nighttime and starts to signal the need for sleep. Furthermore, increasing the amount of light present in the morning and decreasing artificial light at night can help the body return to the proper light-dark cycles. These two adjustments are called light therapy and dark therapy, respectively, and are often administered by sleep physicians. If you believe you have DPSD and are worried about its effect on your daily functioning, consult your doctor for a referral to a sleep physician who may be able to offer more insight or treatment.
      br
      p Happy Sleeping! 
      p Abby


  div.panel.panel-default
    div.panel-body
      p
        |Dear Abby,
        br
        br
        | 	Last night, I was really stressed before going to bed. I heard a loud noise and woke up in the middle of the night, and I couldn’t move!! I know I was awake, but I tried to get up and none of my muscles would move. It was one of the scariest experiences of my life, what happened to me?
        br
        br
        |Sincerely,
        br
        |Petrified
  div.panel.panel-default
    div.panel-body
      p  
        |Dear Petrified,
        br
        br
        |Don’t worry! What you experienced last night, while scary, was a normal and common phenomenon called sleep paralysis. An individual typically cycles between two types of sleep over the course of the night: REM sleep and non-REM sleep. During REM sleep, the brain is very active- this is the kind of sleep during which one typically has dreams. The brain creates an experience that seems very real at the time, but the body does not react. This disparity between brain and body function emerges because allowing the body to act out the physical aspects of the dream could be very dangerous for a sleeping individual. As such, the brain solicits the use of certain neural mechanisms to effectively paralyze the body, eliminating the possibility of performing the experience created by the dream. Neurons in the medulla oblongata activate inhibitory neurons in the spinal cord, which prevent activation of motor neurons that then cause the movement of muscles. As such, muscles experience atonia or paralysis. When an individual is awoken during REM sleep, sometimes the mechanism causing this paralysis does not switch off immediately, causing the paralysis to continue during the waking state. Although your brain is fully awake, your body is simply still asleep. It can be a very frightening experience, but it is usually an isolated incident that has no adverse mental or physical health effects.
      br 
      p Happy Sleeping! 
      p Abby

  div.panel.panel-default
    div.panel-body
      p
        |Dear Abby,
        br
        br
        | 	I was recently diagnosed with depression and am now taking an SSRI to treat my condition. Ever since I started treatment, I’ve had some sleeping troubles. Even when I get plenty of rest, I feel sleepy all day, regardless of how many naps I take. Also, I used to have really vivid dreams now I don’t think I have any, or at least I don’t remember them. Is this serious, should I be talking to my doctor about it?
        br
        br
        |Sincerely,
        br
        |Dreamless
  div.panel.panel-default
    div.panel-body
      p  
        |Dear Dreamless,
        br
        br
        |First things first, don’t worry. These symptoms are totally normal and very common. SSRIs, as I’m sure you know, work by inhibiting the re-uptake of serotonin in the brain, making serotonin more readily available to post-synaptic neurons. The neurotransmitter serotonin is most commonly implicated in emotional areas of the brain, but it also plays an important role in sleep! Specifically, at sleep onset, serotonin triggers the beginning of non-REM sleep. SSRIs are making serotonin more available in the areas of your brain involved in emotion, but these effects are also heightened in sleep areas. Thus, feeling frequently sleepy is quite normal. In addition, serotonin only triggers non-REM sleep. Dreams are a byproduct of REM sleep. Thus, your non-REM periods of sleep may be increasing in length, thereby shortening REM periods and giving you less time in the night to dream. As of now, REM sleep deprivation has no proven side-effects other than a lack of dreaming, so this secondary effect is perfectly healthy. However, if your sleep troubles are affecting your ability to function normally, you should definitely bring them up with your doctor. If the impairment is serious, he or she may prescribe some sort of secondary treatment to address these new symptoms.
      br
      p Happy Sleeping! 
      p Abby

  div.panel.panel-default
    div.panel-body
      p
        |Dear Abby,
        br
        br
        | 	I know I have a lot of sleep debt, I’m a student at Stanford in week 8 after all. I try to get as much sleep as I can, but that usually only involves 5 or 6 hours a night. I usually counter the sleepiness with caffeine- my morning coffee always gets me through the day. Lately though, I’ve been needing multiple cups of coffee a day to stay awake, and something even that’s not enough. Help!
        br
        br
        |Sincerely,
        br
        |Unbuzzed
  div.panel.panel-default
    div.panel-body
      p  
        |Dear Unbuzzed,
        br
        br
        |You already know that you are accumulating a sleep debt over time; however, what you may not know is that sleep debt is actually additive. The more nights you go without getting your full requirement of rest, the harder it is going to be to stay awake down the line. As such, when your sleep debt reaches higher and higher levels, more caffeine may be necessary to combat the body’s natural tendency to sleep. To the body, sleep is just about as vital and food and water, so when it is running low on rest, it does everything it can to make sure it gets more rest soon. Furthermore, caffeine, like any drug, builds tolerance over time. Caffeine effects the chemistry in certain areas of your brain, and over time this brain chemistry adapts to the presence of the caffeine. As such, you will begin to require caffeine just to reach your normal level of functioning. You will also need to ingest more caffeine to feel the same effects that you felt before from just a small amount. Be careful with your caffeine consumption- it, along with marijuana, psilocybin, and amphetamines, is considered to be a psychoactive drug, and excessive use can actually cause addiction.
      br
      p Happy Sleeping! 
      p Abby

  div.panel.panel-default
    div.panel-body
      p
        |Dear Abby,
        br
        br
        | 	I just heard about sleep debt the other day for the first time. I talked to my friends about it, and most of them had no idea what I was talking about. This seemed kind of silly to me- pretty much all of us have it, but none of us know what it is. Why is that?
        br
        br
        |Sincerely,
        br
        |Concerned
  div.panel.panel-default
    div.panel-body
      p  
        |Dear Concerned,
        br
        br
        |You’re right, you should absolutely be concerned! The gap in knowledge between sleep scientists and the average student (who arguably needs sleep information more than anyone else in the world) is astronomical. In 2008, only 1.8% of Stanford students reported that they had ever been exposed to information in school about obtaining adequate sleep, including information gathered in high school Biology or Psychology courses. However, sleep is just as necessary to the human body as food or water, and a lack of sleep can cause anything from impaired alertness to loss of motor coordination to hysteria. In college students especially, sleep is often the first thing that people sacrifice in terms of daily needs. As such, most college students have enormous sleep debts, and they are completely unaware of the possible implications these sleep debts have on their ability to function properly. I encourage you to use this opportunity to educate your friends and whomever else you can! Everyone stands to benefit from a heightened awareness about the important role sleep plays in our lives and the inevitable consequences of keeping it low on our list of priorities.
      br
      p Happy Sleeping!
      p Abby

  div.panel.panel-default
    div.panel-heading
      h3.panel-title Sources:
    div.panel-body
        a(href="http://en.wikipedia.org/wiki/Sleep_inertia") http://en.wikipedia.org/wiki/Sleep_inertia
        br
        a(href="http://en.wikipedia.org/wiki/Delayed_sleep_phase_syndrome#Management") http://en.wikipedia.org/wiki/Delayed_sleep_phase_syndrome#Management
        br
        a(href="http://www.csun.edu/~vcpsy00h/students/sleep.htm") http://www.csun.edu/~vcpsy00h/students/sleep.htm
        br
        a(href="http://www.psychiatrictimes.com/sleep-disorders/effects-antidepressants-sleep") http://www.psychiatrictimes.com/sleep-disorders/effects-antidepressants-sleep
        br
        a(href="http://en.wikipedia.org/wiki/Circadian_rhythm#Impact_of_light.E2.80.93dark_cycle") http://en.wikipedia.org/wiki/Circadian_rhythm#Impact_of_light.E2.80.93dark_cycle
        br
        a(href="http://en.wikipedia.org/wiki/Sleep_paralysis#Pathophysiology") http://en.wikipedia.org/wiki/Sleep_paralysis#Pathophysiology
        br
        a(href="http://www.end-your-sleep-deprivation.com/images/rem-paralysis-atonia.jpg") http://www.end-your-sleep-deprivation.com/images/rem-paralysis-atonia.jpg
        br
        a(href="http://www.health.harvard.edu/newsweek/Repaying-your-sleep-debt.htm") http://www.health.harvard.edu/newsweek/Repaying-your-sleep-debt.htm
        br
        a(href="http://en.wikipedia.org/wiki/Psychoactive_drug") http://en.wikipedia.org/wiki/Psychoactive_drug
        br
        a(href="http://www.medicinenet.com/sleep/page3.htm") http://www.medicinenet.com/sleep/page3.htm
        br
        |Dement, William C., and Rafael Pelayo. Dement's Sleep & Dreams. Stanford: Independent, 2014. Print.

block bodyscripts
  script(type="text/javascript", src="/javascripts/vendor/jquery-1.7.2.min.js")
  script(type="text/javascript", src="/javascripts/vendor/d3.min.js")
  script(type="text/javascript", src="/javascripts/vendor/c3.min.js")
  script(src="/javascripts/vendor/bootstrap/bootstrap.min.js")
  script(type="text/javascript", src="/javascripts/vendor/underscore-min.js")
  script(type="text/javascript", src="/javascripts/vendor/backbone-min.js")


